@import 'tailwindcss';

/* For WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when the mouse hovers over the thumb */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* 'thin' or 'auto' */
  scrollbar-color: #888 #f1f1f1; /* thumb color track color */
}
